[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
ruff = "*"
numpy = "*"
tqdm = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
